// background
$zIndexBackground: 1;

// scene-container
$zIndexQuestionContainer: 2;
// 选项默认层级
$zIndexOptionDefault: 10;
// 选项最高层级
$zIndexOptionHighest: 10000;
$zIndexOptionDisappear: 1;

// phaser-wrap
$zIndexPhaserWrap: 3;
// phaser题目中的背景图
$zIndexPhaserBackground: 1;
// phaser题目中的canvas
$zIndexPhaserCanvas: 2;


// 系统按钮类 返回按钮｜题干语音按钮｜进度条｜生活中数学错题巩固label｜题目解析按钮 需要比ZIndexBaseConfig.Highest高
$zIndexBtnSystem: 20000;

// 蒙层类 开场Go动画｜旧版小老师录音中蒙层｜题目解析蒙层｜题干文字蒙层
$zIndexMask: $zIndexBtnSystem + 1;

// toast
$zIndexToast: 30000;


// 字体
$fontMedium: 'PingFangSC-Medium';
$fontRegular: 'PingFangSC-Regular';
$fontSpecial: 'myFont';

$textPrimaryColor: #3977ec;

@function computeHeight($y) {
  @return calc(($y * 100vw) / 812 + (100vh - (100vw * 375) / 812) / 2);
}

@function computeWidth($x) {
  @return calc(($x * 100vw) / 812);
}
